<div class="loading-shade" *ngIf="isLoadingResults">
  <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
</div>

<mat-card class="mat-card  mat-elevation-z3">
  <button mat-raised-button class="button_new" color="primary" routerLink="/cidades/form">Nova Cidade</button>
  <mat-card-header>
    <mat-card-title>Cidades</mat-card-title>
    <mat-card-subtitle>Lista de Cidades cadastradas</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <table mat-table [dataSource]="cidades" class="mat-elevation-z8" matSort>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-short-header> Id. </th>
        <td mat-cell *matCellDef="let element"> {{element.idCidade}} </td>
      </ng-container>

      <ng-container matColumnDef="cidade">
        <th mat-header-cell *matHeaderCellDef mat-short-header> Cidade </th>
        <td mat-cell *matCellDef="let element"> {{element.nomeCidade}} </td>
      </ng-container>

      <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef mat-short-header> Estado </th>
        <td mat-cell *matCellDef="let element"> {{element.siglaEstado}} </td>
      </ng-container>

      <ng-container matColumnDef="acao">
        <th mat-header-cell *matHeaderCellDef> Ações </th>
        <td mat-cell *matCellDef="let element">
          <a routerLink="/cidades/update/{{element.idCidade}}" class="edit">
            <button mat-raised-button color="primary"><i class="material-icons">edit</i> Editar</button>

          </a>
          <a class="delete">
            <button mat-raised-button color="warn" (click)="excluirCidade(element)"><i class="material-icons">delete</i>
              Excluir</button>
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    

  </mat-card-content>
  <mat-paginator [length]="resultsLength" [pageSize]="5" [pageSizeOptions]="[5, 10, 20, 10]"></mat-paginator>
</mat-card>