<mat-card>
    <mat-card-title>Nova Biblioteca</mat-card-title>
    <form>
        <mat-form-field appearance="fill">
            <input matInput placeholder="Nome da Biblioteca" [(ngModel)]="biblioteca.nomeBiblioteca"
                name="nomeBiblioteca">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Cidade</mat-label>
            <mat-select [(ngModel)]="biblioteca.cidade" name="cidade" >
                <mat-option *ngFor="let cidade of cidades" [value]="cidade">
                    {{cidade.siglaEstado}} - {{cidade.nomeCidade}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <input matInput placeholder="Endereço" [(ngModel)]="biblioteca.endereco" name="endereco">
        </mat-form-field>
    </form>
    <button mat-raised-button color="primary" (click)="salvar()">Salvar</button>
    <button mat-raised-button color="warn" routerLink="/bibliotecas">Cancelar</button>
</mat-card>